<h1>Pricing</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Pinteresting Pricing</div>

  <!-- Table -->
  <table class="table">
	<th><td>Hej</td><td>Hoi</td></th> 
	<tr><td>Hej</td><td>Hoi</td></tr> 
  </table>
</div>